---
layout: application
permalink: /schedule
title: "Schedule for Ruby Conf Africa 2025"
description: "Schedule for Ruby Conf Africa 2025. Join us in Nairobi, Kenya, on July 18-19, 2025, and connect with leading Ruby developers from around the world."
image: "/images/logo/arc_logo_coloured.png"
---

{% assign schedule_data = site.data.new_remote.schedule %}

<section class="schedule-section">
  <div id="event-schedule" class="container mt-3 mb-3">
    <div class="sec-title text-center">
      <h2 style="color: #c11803">Conference Schedule</h2>
    </div>

    <div class="event-info-tabs tabs-box">
      <ul class="tab-buttons clearfix">
        <li class="tab-btn active-btn" data-tab="#tab1">Friday, July 18</li>
        <li class="tab-btn" data-tab="#tab2">Saturday, July 19</li>
        <li>
          <button
            class="btn schedule-pdf-btn-responsive d-flex align-items-center px-3 py-2 font-weight-bold"
            style="display: none"
          >
            <a
              href="/documents/schedule/RubyConf2025Schedule.pdf"
              class="text-info-emphasis text-decoration-none d-flex align-items-center"
              target="_blank"
            >
              Download Schedule <i class="bi bi-download ms-2"></i>
            </a>
          </button>
        </li>
      </ul>

      <div class="tabs-content">
        {% assign days = "day_one,day_two" | split: "," %} {% for tab in days %}
        <div
          class="tab {% if forloop.first %}active-tab{% endif %}"
          id="tab{{ forloop.index }}"
        >
          <table class="table table-hover h5 custom-table">
            <thead>
              <tr>
                <th class="col-1" scope="col"></th>
                <th class="col-2" scope="col"></th>
                <th class="col-3" scope="col"></th>
              </tr>
            </thead>
            <tbody id="{{ tab }}">
              {% assign filtered_events = schedule_data | where: "day", tab %}
              {% assign sorted_events = filtered_events | sort: "start_time" %}
              {% for event in sorted_events %}
              <tr
                class="text-center {% if event.speaker %}table-info{% endif %}"
              >
                <td class="text-center p-4">
                  <div class="align-baseline">{{ event.start_time }}</div>
                  <div class="align-baseline">-</div>
                  <div class="align-baseline">{{ event.end_time }}</div>
                </td>
                <td class="p-4 text-center">
                  {% if event.speaker %}
                  <div>
                    {{ event.topic }} {% if event.description %}
                    <p class="small mt-2 mb-0">{{ event.description }}</p>
                    {% endif %}
                  </div>

                  {% assign speakers = event.speaker | split: "," %}
                  <div
                    class="d-flex justify-content-center flex-wrap gap-2 mt-2"
                  >
                    {% for speaker in speakers %} {% assign speaker_trimmed =
                    speaker | strip %}
                    <figure
                      class="thumb d-flex flex-column align-items-center m-1"
                    >
                      <a href="/speakers/{{ speaker_trimmed | slugify }}">
                        <img
                          src="{{ event.image[forloop.index0] }}"
                          alt="{{ speaker_trimmed }}"
                          class="img-fluid rounded-circle mb-1"
                          style="width: 60px; height: 60px"
                        />
                      </a>
                      <span class="text-dark small">{{ speaker_trimmed }}</span>
                    </figure>
                    {% endfor %}
                  </div>
                  {% else %} {{ event.topic }} {% endif %}
                </td>

                <td class="p-4"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
