---
layout: application
permalink: speakers
title: Speakers
---

<!-- Preloader -->
<div class="preloader"></div>
<section style="margin-top: 90px">
    <div
            class="container-fluid bg-danger banner-cfp text-white text-center mt-4 py-2"
    >
        <a
                href="ttps://www.papercall.io/rubyconfafrica2024"
                class="text-white d-block"
                style="text-decoration: none"
        >
            <h4>Submit CFP</h4>
        </a>
    </div>
</section>
<section class="speakers-section-two">
    <!-- <div class="anim-icons">
            <span class="icon icon-circle-4 wow zoomIn"></span>
            <span class="icon icon-circle-3 wow zoomIn"></span>
        </div> -->

    <div class="auto-container">
        <div class="sec-title text-center my-4">
            <span class="display-4 text-danger font-weight-bold">Speakers</span>
        </div>
        <!-- Keynote Speakers Section -->
        <div class="sec-title" style="text-align: center">
            <hr/>
            <span class="title">
            Keynote Speakers
          </span>
            <hr/>
        </div>
        <div class="row top-pd-mobile">
            {% for speaker in site.speakers %}
            {% if speaker.is_keynote == true %}
            {% include speaker-block.html speaker=speaker designation="Keynote Speaker" %}
            {% endif %}
            {% endfor %}
        </div>

        <!-- Other Speakers Section -->
        <div class="sec-title" style="text-align: center">
            <hr/>
            <span class="title">
            Speakers
          </span>
            <hr/>
        </div>
        <div class="row top-pd-mobile">
            {% for speaker in site.speakers %}
            {% if speaker.is_keynote == false %}
            {% include speaker-block.html speaker=speaker designation="Speaker" %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Speakers Section -->
