---
layout: application
permalink: /speakers
title: "Speakers for Ruby Conf Africa 2025"
description: "Meet the incredible lineup of Ruby experts sharing their knowledge at Ruby Conf Africa 2025.  Browse speaker profiles, session topics, and more."
image: "/images/logo/arc_logo_coloured.png"
year: 2025
---

<!-- Preloader -->
<div class="preloader-new">
  <!-- Logo -->
  <div class="preloader-logo-new"></div>

  <!-- Animated Loading Text -->
  <div class="loader-new"></div>
</div>
<!--Start Speakers Sections-->
<section class="speakers-section-two" style="margin-top: 0">
  <div class="auto-container">
    <div class="sec-title text-center my-4">
      <span class="display-4 text-danger font-weight-bold">Speakers</span>
    </div>
    {% assign all_speakers = site.data.new_remote.speakers %}
    <div class="row top-pd-mobile">
      {% for speaker in all_speakers %} {% assign designation = "Speaker" %} {%
      if speaker.is_keynote == "Yes" or speaker.is_keynote == true %} {% assign
      designation = "Keynote Speaker" %} {% endif %} {% include
      speaker_block.liquid speaker=speaker designation=designation %} {% endfor
      %}
    </div>
  </div>
</section>
<!--End Speakers Section-->
