---
layout: archive_application_home
title: "Ruby Conf Africa 2018 - Leading Ruby Developers Conference in Nairobi, Kenya"
name: "Ruby Conf Africa 2018"
description: "Join us on June 28-30, 2018, for Ruby Conference Africa in Nairobi, Kenya. Connect with leading Ruby
developers, learn from insightful sessions, and explore the latest trends in Ruby development."
image: "../images/logo/arc_logo_coloured.png"
permalink: /2018/
year: 2018
---

<!--<div class="preloader"></div>-->

<div class="preloader-new">
  <!-- Logo -->
  <div class="preloader-logo-new"></div>

  <!-- Animated Loading Text -->
  <div class="loader-new"></div>
</div>

<!-- Header span -->

<!-- Banner Section -->
<section class="banner-section">
  <div class="banner-carousel owl-carousel owl-theme">
    <!-- Slide Item -->
    <div
      class="slide-item lazyload"
      style="background-image: url(../images/2018/riara.JPG)"
    >
      <div class="auto-container">
        <div class="content-box">
          <span class="title">June 8th-10th, {{ page.year }}</span>
          <h2>Ruby Conf Africa {{ page.year }}</h2>
          <ul class="info-list">
            <li>
              <span class="fa fa-map-marker-alt"></span> Riara University,
              Mbagathi Way - Nairobi, Kenya
            </li>
          </ul>
          <div class="btn-align">
            <div
              class="banner-text d-flex align-items-center text-bg-danger text-center py-3"
            >
              <div class="container">
                <h6 class="display-6">
                  <i class="fa-solid fa-heart"></i>
                  <span class="fs-md-5">Thank you for joining us!</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide Item -->
    <div
      class="slide-item lazyload"
      style="background-image: url(../images/2018/bg.jpg)"
    >
      <div class="auto-container">
        <div class="content-box">
          <span class="title">June 28th-30th, {{ page.year }}</span>
          <h2>Ruby Conf Africa {{ page.year }}</h2>
          <ul class="info-list">
            <li>
              <span class="fa fa-map-marker-alt"></span> Riara University,
              Mbagathi Way - Nairobi, Kenya
            </li>
          </ul>
          <div class="btn-align">
            <div
              class="banner-text d-flex align-items-center text-bg-danger text-center py-3"
            >
              <div class="container">
                <h6 class="display-6">
                  <i class="fa-solid fa-heart"></i>
                  <span class="fs-md-5">Thank you for joining us!</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Banner Section -->

<!--Archive banner-->
<span class="fs-md-5"
  ><a href="/index" class="text-white text-decoration-none">
    View the current year's conference. This is an archive.
  </a></span
>
<!--End Archive banner-->
<!-- About Section -->
<section class="about-section">
  <div class="auto-container">
    <div class="row">
      <!-- Content Column -->
      <div class="content-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="sec-title">
            <span class="title">ABOUT EVENT</span>
            <h2>Welcome to RubyConfAfrica 2018</h2>
            <div class="text">
              Ruby Conference brings entrepreneurs, developers, open source
              contributors, and conference speakers from all around the world
              for a 3-day conference. Why? We believe in a holistic approach we
              would solve so many problems through entrepreneurship approach
              “Solution approach” and open source approach. This in return
              empowers everyone who attends with technology “tool” and
              entrepreneurship “Methodology” to reach their fullest potential
              and inspire the rest of the world and their communities. Finding
              the complete solution for Africa will involve many different
              parties and many different techniques. Open source culture must be
              included in that toolkit to spur growth, innovation, and
              upliftment. By investigating their respective indicators in
              socio-economics, ICT penetration, and business environments,
              countries can determine which open source approach and practices
              suits them the best. Not every country will pursue the same open
              source and tool path, however, finding that best fit for each
              country’s need should be a critical area of focus for open source
              experts in the years to come. Nairuby is a community organization
              made of developers, entrepreneurs and freelancers. In terms of
              development the community focuses on ruby technologies and
              frameworks, which are all open source and widely used by startups
              to prototype and carry out proof of concept with a go to market
              strategy. The community brings you Ruby conference every year with
              different themes to help spur innovation and growth in
              contribution to global economy
            </div>
          </div>
          <ul class="list-style-one">
            <li>
              Showcase and advocate for Open Source technologies as catalysts
              for advancement across Industry, Entrepreneurship, and Academia.
            </li>
            <li>
              Foster discussions and explore how Agile methodologies can be
              adapted and optimized for sustainable development practices within
              the Ruby community.
            </li>
            <li>
              Provide insights, Inspire and equip Ruby developers with the
              entrepreneurial mindset and skills necessary to build successful
              tech startups.
            </li>
            <li>
              Elevate the status of the Ruby community in Africa to become a
              globally recognized and integrated community.
            </li>
          </ul>
          <div class="btn-box" style="visibility: hidden">
            <a href="tickets.html" class="theme-btn btn-style-three"
              ><span class="btn-title">Buy Tickets</span></a
            >
          </div>
        </div>
      </div>

      <!-- Image Column -->
      <div
        class="image-column col-lg-6 col-md-12 col-sm-12"
        style="
          background-image: url('../images/conference.jpg');
          background-size: cover;
          background-position: center;
          height: auto;
          min-height: 400px;
        "
      >
        <!-- Optionally, you can add content inside the image column -->
      </div>
    </div>
  </div>
</section>
<!--End About Section -->

<!-- Speakers -->
<section class="speakers-section">
  <div class="auto-container">
    <div class="sec-title light text-center">
      <h2>Speakers</h2>
    </div>
    <div class="outer-box">
      <div class="row d-flex align-items-center justify-content-center">
        <!-- Speaker Block -->
        <div class="speaker-block col-lg-3 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="speakers/paul-oguda"
                  ><img
                    src="../images/2018/speakers/paul_o.png"
                    alt="Paul Oguda"
                /></a>
              </figure>
            </div>
            <div class="info-box">
              <div class="inner">
                <h4 class="name">
                  <a href="speakers/paul-oguda">Paul Oguda</a>
                </h4>
                <span class="designation"
                  >Spatial Planner, Smart Cities Advocate, and Autodidact
                  Programmer</span
                >
                <ul class="social-links social-icon-colored">
                  <li>
                    <a href="http://twitter.com/kamalogudah"
                      ><i class="fa-brands fa-x-twitter"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Speaker Block -->
        <div class="speaker-block col-lg-3 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="speakers/aaron_cruz"
                  ><img
                    src="../images/2018/speakers/aaron_cruz.jpg"
                    alt="Aaron Cruz"
                /></a>
              </figure>
            </div>
            <div class="info-box">
              <div class="inner">
                <h4 class="name">
                  <a href="speakers/aaron_cruz">Aaron Cruz</a>
                </h4>
                <span class="designation">Ruby Developer</span>
                <ul class="social-links social-icon-colored">
                  <li>
                    <a href="https://x.com/mraaroncruz"
                      ><i class="fa-brands fa-x-twitter"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Speaker Block -->
        <div class="speaker-block col-lg-3 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="speakers/hagerty"
                  ><img
                    src="../images/2018/speakers/hagerty.png"
                    alt="Pj Hagerty"
                /></a>
              </figure>
            </div>
            <div class="info-box">
              <div class="inner">
                <h4 class="name"><a href="speakers/hagerty">Pj Hagerty</a></h4>
                <span class="designation">Founder of DevRelate.io</span>
                <ul class="social-links social-icon-colored">
                  <li>
                    <a href="https://twitter.com/aspleenic"
                      ><i class="fa-brands fa-x-twitter"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Coming Soon -->

<!--Partner Section-->
<section class="clients-section">
  <div class="anim-icons">
    <span class="icon icon-dots-3 wow zoomIn"></span>
  </div>
  <div class="auto-container">
    <div class="sec-title" style="text-align: center">
      <h2 style="color: #c11803">Supporters</h2>
      <hr />
      <span class="title"> These supporters are all in for the event! 💪 </span>
    </div>

    <div class="sponsors-outer">
      <div class="row justify-content-center">
        <!-- Sponsor Block -->
        {% for sponsor in site.data.archive_sponsors.2018 %} {% if
        sponsor.categories contains 'supporters' %}
        <div
          class="client-block col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center"
        >
          <figure class="">
            <a href="{{ sponsor.url }}"
              ><img
                src="{{ sponsor.image }}"
                class="lazyload"
                alt="{{ sponsor.name }}"
            /></a>
          </figure>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</section>
