---
layout: archive_application
permalink: /2017/speakers
title: "Speakers for Ruby Conf Africa 2017"
description: "Meet the incredible lineup of Ruby experts sharing their knowledge at Ruby Conf Africa 2017.  Browse speaker profiles, session topics, and more."
image: "/images/logo/arc_logo_coloured.png"
---

<!--{% assign url_parts = page.url | split: '/' %}-->
<!--{% assign year = url_parts[1] %}-->
<!--{% assign speakers = site.data.archive_speakers[year].speakers %}-->

<!-- Preloader -->
<div class="preloader-new">
  <!-- Logo -->
  <div class="preloader-logo-new"></div>

  <!-- Animated Loading Text -->
  <div class="loader-new"></div>
</div>
<!--<section style="margin-top: 90px">-->
<!--    <div-->
<!--            class="container-fluid bg-danger banner-cfp text-white text-center mt-4 py-2"-->
<!--    >-->
<!--        <a-->
<!--                href="https://www.papercall.io/rubyconfafrica2024"-->
<!--                class="text-white d-block"-->
<!--                style="text-decoration: none"-->
<!--        >-->
<!--            <h4>Submit CFP</h4>-->
<!--        </a>-->
<!--    </div>-->
<!--</section>-->
<section class="speakers-section-two" style="margin-top: 0">
  <div class="auto-container">
    <div class="sec-title text-center my-4">
      <span class="display-4 text-danger font-weight-bold"
        >Speakers for {{ year }}</span
      >
    </div>

    <div class="row top-pd-mobile">
      {% for speaker in site.speakers_2017 %} {% if speaker.is_keynote == true
      %} {% include archive_speaker_block.liquid speaker=speaker
      designation="Keynote Speaker " %} {% endif %} {% endfor %}
      <!--        </div>-->

      <!--        Display Female Speakers-->
      <!--        <div class="row top-pd-mobile">-->
      {% assign female_speakers = site.speakers_2017 | where: "gender", "female"
      %} {% for speaker in female_speakers %} {% if speaker.is_keynote == false
      %} {% include archive_speaker_block.liquid speaker=speaker
      designation="Speaker" %} {% endif %} {% endfor %}
    </div>

    <!--        Display Male Speakers-->
    <div class="row top-pd-mobile">
      {% assign male_speakers = site.speakers_2017 | where: "gender", "male" %}
      {% for speaker in male_speakers %} {% if speaker.is_keynote == false %} {%
      include archive_speaker_block.liquid speaker=speaker designation="Speaker"
      %} {% endif %} {% endfor %}
    </div>
  </div>
</section>
<!-- End Speakers Section -->
