---
layout: archive_application_home
title: "Ruby Conf Africa 2024 - Leading Ruby Developers Conference in Nairobi, Kenya"
name: "Ruby Conf Africa 2024"
description: "Join us on July 26-27, 2024, for Ruby Conference Africa in Nairobi, Kenya. Connect with leading Ruby
developers, learn from insightful sessions, and explore the latest trends in Ruby development."
image: "../images/logo/arc_logo_coloured.png"
permalink: /2015/
year: 2015
---

<!--<div class="preloader">-->

<!--</div>-->

<div class="preloader-new">
  <!-- Logo -->
  <div class="preloader-logo-new"></div>

  <!-- Animated Loading Text -->
  <div class="loader-new"></div>
</div>

<!-- Header span -->

<!-- Banner Section -->
<section class="banner-section">
  <div class="banner-carousel owl-carousel owl-theme">
    <!-- Slide Item -->
    <div
      class="slide-item lazyload"
      style="background-image: url(../images/2015/c4dlab.jpg)"
    >
      <div class="auto-container">
        <div class="content-box">
          <span class="title">May 8th-9th, {{ page.year }}</span>
          <h2>Ruby Conf Africa {{ page.year }}</h2>
          <ul class="info-list">
            <!--                        <li><span class="fa fa-chair"></span> 300 Seats</li>-->
            <!--                        <li><span class="fa fa-user-alt"></span> 20 SPEAKERS</li>-->
            <li>
              <span class="fa fa-map-marker-alt"></span> UoN, Chiromo Campus -
              Nairobi, Kenya
            </li>
          </ul>
          <div class="btn-align">
            <!--                        <div class="btn-box" style="visibility: hidden;">-->
            <!--                            <a href="tickets.html" target="_blank" class="theme-btn btn-style-two">-->
            <!--                                <span class="btn-title">Buy Tickets <span class="fa fa-ticket-alt"></span> </span></a>-->
            <!--                        </div>-->
            <!--                        <div class="btn-box">-->
            <!--                            <a-->
            <!--                                    href="schedule.html"-->
            <!--                                    class="theme-btn btn-style-two"-->
            <!--                            >-->
            <!--                                <span class="btn-title">Event Schedule</span></a-->
            <!--                            >-->
            <!--                        </div>-->
            <div
              class="banner-text d-flex align-items-center text-bg-danger text-center py-3"
            >
              <div class="container">
                <h6 class="display-6">
                  <i class="fa-solid fa-heart"></i>
                  <span class="fs-md-5">Thank you for joining us!</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide Item -->
    <div
      class="slide-item lazyload"
      style="background-image: url(../images/2015/c4dlab2.jpg)"
    >
      <div class="auto-container">
        <div class="content-box">
          <span class="title">May 8th-9th, {{ page.year }}</span>
          <h2>Ruby Conf Africa {{ page.year }}</h2>
          <ul class="info-list">
            <!--                        <li><span class="fa fa-chair"></span> 300 Seats</li>-->
            <!--                        <li><span class="fa fa-user-alt"></span> 20 SPEAKERS</li>-->
            <li>
              <span class="fa fa-map-marker-alt"></span> UoN, Chiromo Campus -
              Nairobi, Kenya
            </li>
          </ul>
          <div class="btn-align">
            <!--                        <div class="btn-box" style="visibility: hidden;">-->
            <!--                            -->
            <!--                            <a href="tickets.html" target="_blank" class="theme-btn btn-style-two">-->
            <!--                                <span class="btn-title">Buy Tickets <span class="fa fa-ticket-alt"></span> </span></a>-->
            <!--                        </div>-->
            <!--                        <div class="btn-box">-->
            <!--                            <a-->
            <!--                                    href="schedule.html"-->
            <!--                                    class="theme-btn btn-style-two"-->
            <!--                            >-->
            <!--                                <span class="btn-title">Event Schedule</span></a-->
            <!--                            >-->
            <!--                        </div>-->

            <div class="banner-text text-bg-danger text-center py-3">
              <div class="container">
                <h6 class="display-6">
                  <i class="fa-solid fa-heart"></i>
                  <span class="fs-md-5">Thank you for joining us!</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Banner Section -->

<!--Archive banner-->
<span class="fs-md-5"
  ><a href="/index" class="text-white text-decoration-none">
    View the current year's conference. This is an archive.
  </a></span
>
<!--End Archive banner-->
<!-- About Section -->
<section class="about-section">
  <div class="auto-container">
    <div class="row">
      <!-- Content Column -->
      <div class="content-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="sec-title">
            <span class="title">ABOUT EVENT</span>
            <h2>Welcome to RubyConfAfrica 2015</h2>
            <div class="text">
              ARC aims to unite entrepreneurs, developers, designers, and
              open-source contributors to tackle various challenges. By
              embracing entrepreneurship and open-source principles, ARC
              believes in offering comprehensive solutions to numerous issues.
              Attendees are equipped with both technological tools and
              entrepreneurial methodologies to maximize their potential and
              inspire others in their communities and beyond.
            </div>
          </div>
          <ul class="list-style-one">
            <li>
              Showcase and advocate for Open Source technologies as catalysts
              for advancement across Industry, Entrepreneurship, and Academia.
            </li>
            <li>
              Foster discussions and explore how Agile methodologies can be
              adapted and optimized for sustainable development practices within
              the Ruby community.
            </li>
            <li>
              Provide insights, Inspire and equip Ruby developers with the
              entrepreneurial mindset and skills necessary to build successful
              tech startups.
            </li>
            <li>
              Elevate the status of the Ruby community in Africa to become a
              globally recognized and integrated community.
            </li>
          </ul>
          <div class="btn-box" style="visibility: hidden">
            <a href="tickets.html" class="theme-btn btn-style-three"
              ><span class="btn-title">Buy Tickets</span></a
            >
          </div>
        </div>
      </div>

      <!-- Image Column -->
      <div
        class="image-column col-lg-6 col-md-12 col-sm-12"
        style="
          background-image: url('../images/conference.jpg');
          background-size: cover;
          background-position: center;
          height: auto;
          min-height: 400px;
        "
      >
        <!-- Optionally, you can add content inside the image column -->
      </div>
    </div>
  </div>
</section>
<!--End About Section -->

<!-- Speakers -->
<section class="speakers-section">
  <div class="auto-container">
    <div class="sec-title light text-center">
      <h2>Speakers</h2>
    </div>
    <div class="outer-box">
      <div class="row d-flex align-items-center justify-content-center">
        <!-- Speaker Block -->
        <div class="speaker-block col-lg-3 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="speakers/nabihah"
                  ><img
                    src="../images/2015/speakers/nabihah.jpg"
                    alt="Nabihah Rishad"
                /></a>
              </figure>
            </div>
            <div class="info-box">
              <div class="inner">
                <h4 class="name">
                  <a href="speakers/nabihah">Nabihah Rishad</a>
                </h4>
                <span class="designation">InfoSec, Rubyist, RoR</span>
                <ul class="social-links social-icon-colored">
                  <li>
                    <a href="https://x.com/hahiban"
                      ><i class="fa-brands fa-x-twitter"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Speaker Block -->
        <div class="speaker-block col-lg-3 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="speakers/dennis_ondeng"
                  ><img
                    src="../images/2015/speakers/dennis_ondeng.jpg"
                    alt="Dennis Ondeng"
                /></a>
              </figure>
            </div>
            <div class="info-box">
              <div class="inner">
                <h4 class="name">
                  <a href="speakers/dennis_ondeng"> Dennis Ondeng</a>
                </h4>
                <span class="designation">CTO at Kopo Kopo.</span>
                <ul class="social-links social-icon-colored">
                  <li>
                    <a href="https://x.com/donden1"
                      ><i class="fa-brands fa-x-twitter"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Speaker Block -->
        <div class="speaker-block col-lg-3 col-md-6 col-sm-12">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="speakers/aaron_cruz"
                  ><img
                    src="../images/2015/speakers/aaron_cruz.jpg"
                    alt="Aaron Cruz"
                /></a>
              </figure>
            </div>
            <div class="info-box">
              <div class="inner">
                <h4 class="name">
                  <a href="speakers/aaron_cruz">Aaron Cruz</a>
                </h4>
                <span class="designation">Ruby Developer</span>
                <ul class="social-links social-icon-colored">
                  <li>
                    <a href="https://x.com/mraaroncruz"
                      ><i class="fa-brands fa-x-twitter"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Speaker Block -->
        <!-- <div class="speaker-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image">
                                <a href="https://www.papercall.io/rubyconfafrica2024"
                                ><img
                                        src="../images/speakers/cfp_logo.jpeg"
                                        alt="Speaker Placeholder - Submit your talk for Ruby Conf Africa 2024"
                                /></a>
                            </figure>
                        </div>
                        <div class="info-box">
                            <div class="inner">
                                <h4 class="name">
                                    <a href="https://www.papercall.io/rubyconfafrica2024"
                                    >Submit your Proposal</a
                                    >
                                </h4>
                                <span class="designation">Share your knowledge</span>
                            </div>
                        </div>
                    </div>
                </div> -->
      </div>
    </div>
  </div>
</section>
<!-- End Coming Soon -->

<!-- Platinum Sponsor Section-->
<section class="clients-section">
  <div class="anim-icons">
    <span class="icon icon-dots-3 wow zoomIn"></span>
    <!-- <span class="icon icon-circle-blue wow zoomIn"></span> -->
  </div>
  <div class="auto-container">
    <div class="sec-title" style="text-align: center">
      <h2 style="color: #c11803">Ruby Sponsors</h2>
      <hr />
      <span class="title">
        These Ruby Sponsors are making a big impact on our event! 💪
      </span>
    </div>

    <div class="sponsors-outer">
      <div class="row justify-content-center">
        <!-- Sponsor Block -->
        {% for sponsor in site.data.archive_sponsors.2015 %} {% if
        sponsor.categories contains 'ruby' %}
        <div
          class="client-block col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center"
        >
          <figure class="">
            <a href="{{ sponsor.url }}" target="_blank"
              ><img
                src="{{ sponsor.image }}"
                class="lazyload"
                alt="{{ sponsor.name }}"
            /></a>
          </figure>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
    <!--        <div class="sponsors-outer">-->
    <!--    <div class="row justify-content-center">-->
    <!--        {% assign sponsors = site.data.archive_sponsors['2015'] %}-->
    <!--        {% for sponsor in sponsors %}-->
    <!--            {% if sponsor.categories contains 'platinum' %}-->
    <!--                <div class="client-block col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">-->
    <!--                    <figure>-->
    <!--                        <a href="{{ sponsor.url }}" target="_blank">-->
    <!--                            <img src="{{ sponsor.image }}" class="lazyload" alt="{{ sponsor.alt | default: sponsor.name }}" />-->
    <!--                        </a>-->
    <!--                    </figure>-->
    <!--                </div>-->
    <!--            {% endif %}-->
    <!--        {% endfor %}-->
    <!--    </div>-->
    <!--</div>-->
  </div>
</section>
<!--End Platinum Sponsor Section-->

<!-- Silver Sponsor Section-->
<section class="clients-section">
  <div class="anim-icons">
    <span class="icon icon-dots-3 wow zoomIn"></span>
    <!-- <span class="icon icon-circle-blue wow zoomIn"></span> -->
  </div>
  <div class="auto-container">
    <div class="sec-title" style="text-align: center">
      <h2 style="color: #c11803">Emerald Sponsors</h2>
      <hr />
      <span class="title">
        These Emerald Sponsors are making a big impact on our event! 💪
      </span>
    </div>

    <div class="sponsors-outer">
      <div class="row justify-content-center">
        <!-- Sponsor Block -->
        {% for sponsor in site.data.archive_sponsors.2015 %} {% if
        sponsor.categories contains 'emerald' %}
        <div
          class="client-block col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center"
        >
          <figure class="">
            <a href="{{ sponsor.url }}" target="_blank"
              ><img
                src="{{ sponsor.image }}"
                class="lazyload"
                alt="{{ sponsor.name }}"
            /></a>
          </figure>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--End Silver Sponsor Section-->

<!--Partner Section-->
<section class="clients-section">
  <div class="anim-icons">
    <span class="icon icon-dots-3 wow zoomIn"></span>
    <!-- <span class="icon icon-circle-blue wow zoomIn"></span> -->
  </div>
  <div class="auto-container">
    <div class="sec-title" style="text-align: center">
      <h2 style="color: #c11803">Supporters</h2>
      <hr />
      <span class="title"> These supporters are all in for the event! 💪 </span>
    </div>

    <div class="sponsors-outer">
      <div class="row justify-content-center">
        <!-- Sponsor Block -->
        {% for sponsor in site.data.archive_sponsors.2015 %} {% if
        sponsor.categories contains 'supporters' %}
        <div
          class="client-block col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center"
        >
          <figure class="">
            <a href="{{ sponsor.url }}"
              ><img
                src="{{ sponsor.image }}"
                class="lazyload"
                alt="{{ sponsor.name }}"
            /></a>
          </figure>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--End of Partner Section-->

<!--Ticket Sponsor Section-->
<!--<section class="clients-section">-->
<!--    <div class="anim-icons">-->
<!--        <span class="icon icon-dots-3 wow zoomIn"></span>-->
<!--    </div>-->
<!--    <div class="auto-container">-->
<!--        <div class="sec-title" style="text-align: center">-->
<!--            <h2 style="color: #c11803">Ticket Sponsors</h2>-->
<!--            <hr/>-->
<!--            <span class="title">-->
<!--              These are the ticket sponsors for the event! 💪-->
<!--            </span>-->
<!--        </div>-->

<!--        <div class="sponsors-outer">-->
<!--            <div class="row">-->

<!--                {% for sponsor in site.data.sponsors %}-->
<!--                {% if sponsor.categories contains 'ticket' %}-->
<!--                <div class="client-block col-lg-3 col-md-6 col-sm-12">-->
<!--                    <figure class="">-->
<!--                        <a href="{{ sponsor.url }}" target="_blank"-->
<!--                        ><img-->
<!--                                src="{{ sponsor.image }}"-->
<!--                                class="lazyload"-->
<!--                                alt="{{ sponsor.name }}"-->
<!--                        /></a>-->
<!--                    </figure>-->
<!--                </div>-->
<!--                {% endif %}-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--End of Ticket Sponsor Section-->

<!--Previous Sponsor Section-->
<!--<section class="clients-section">-->
<!--    <div class="anim-icons">-->
<!--        <span class="icon icon-dots-3 wow zoomIn"></span>-->

<!--    </div>-->
<!--    <div class="auto-container">-->
<!--        <div class="sec-title" style="text-align: center">-->
<!--            <h2 style="color: #c11803">Previous Sponsors</h2>-->
<!--            <hr />-->
<!--            <span class="title">-->
<!--                These were our previous sponsors who contributed to the success of-->
<!--                past events! 🙌-->
<!--            </span>-->
<!--        </div>-->

<!--        <div class="sponsors-outer">-->
<!--            <div class="row justify-content-center">-->
<!--                &lt;!&ndash; Sponsor Block &ndash;&gt;-->
<!--                {% for sponsor in site.data.sponsors %}-->
<!--                {% if sponsor.categories contains 'previous' %}-->
<!--                <div class="client-block col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">-->
<!--                    <figure class="">-->
<!--                        <a href="{{ sponsor.url }}" target="_blank"><img src="{{ sponsor.image }}" class="lazyload"-->
<!--                                alt="{{ sponsor.name }}" /></a>-->
<!--                    </figure>-->
<!--                </div>-->
<!--                {% endif %}-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--End Previous Sponsor Section-->
