<style>
    .contact-page-section .inner-column {
        margin: 0 auto;
        max-width: 800px;
    }

    .contact-page-section .contact-column {
        position: relative;
        margin-bottom: 330px;
    }
    .contact-info .text a {
        display: inline-block;
        margin-bottom: 10px;
    }

    .discord-iframe {
        width: 100%;
        height: 500px;
        border: 0;
        margin: 0 auto;
        display: block;
    }

    .contact-page-section .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<section class="contact-page-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Discord Iframe Column -->
            <div class="form-column col-lg-8 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="contact-form">
                        <div class="sec-title">
                            <h2>Join Our Discord</h2>
                        </div>
                        <iframe src="https://e.widgetbot.io/channels/1252184100668833885/1253001486892404778" allow="clipboard-write; fullscreen" height="600" width="800"></iframe>
                    </div>
                </div>
            </div>

            <!-- Contact Info Column -->
            <div class="contact-column col-lg-4 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title top-pd-mobile">
                        <h2>Contact Info</h2>
                    </div>
                    <ul class="contact-info">
                        <li>
                            <span class="icon fa fa-envelope"></span>
                            <div class="text">
                                <a href="mailto:organisers@rubyconf.africa">organisers@rubyconf.africa</a>
                            </div>
                        </li>
                    </ul>

                    <ul class="social-icon-one social-icon-colored">
                        <li><a href="https://web.facebook.com/rubycommunity.africa" aria-label="Visit Our Facebook page"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/ruby_african" aria-label="Visit Our X page"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/83046693" aria-label="Visit Our LinkedIn page"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://www.youtube.com/@nairubyorg7626" aria-label="Visit Our Youtube Channel"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
