<head>
    <meta charset="utf-8"/>
    <title>
        Ruby Conf Africa 2024 - Leading Ruby Developers Conference in Nairobi,
        Kenya
    </title>
    <meta
            name="description"
            content="Join us on July 26-27, 2024, for Ruby Conference Africa in Nairobi, Kenya. Connect with leading Ruby developers, learn from insightful sessions, and explore the latest trends in Ruby development."
    />

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="images/favicons/favicon.ico" type="image/x-icon"> -->

    <link rel="icon" href="{{ '/images/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon"/>
    <!-- For browsers requiring 16x16 px favicon -->
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ '/images/favicons/favicon-16x16.png' | prepend: site.baseurl }}"
    />
    <!-- For browsers requiring 32x32 px favicon -->
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ '/images/favicons/favicon-32x32.png' | prepend: site.baseurl }}"
    />
    <!-- <link rel="icon" href="images/logo/ruby.svg" type="image/x-icon"> -->

    <!-- For Apple devices -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{{ '/images/apple-touch-icon.png' | prepend: site.baseurl }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ '/images/favicons/favicon-32x32.png' | prepend: site.baseurl }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ '/images/favicons/favicon-16x16.png' | prepend: site.baseurl }}"
    />
    <link rel="manifest" href="{{ '/site.webmanifest' | prepend: site.baseurl }}"/>
    <meta name="apple-mobile-web-app-title" content="Ruby Conf Africa 2024"/>
    <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
    />

    <!-- For Android devices -->
    <meta name="theme-color" content="#ffffff"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="application-name" content="Ruby Conf Africa 2024"/>
    <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="{{ '/images/favicons/android-chrome-192x192.png' | prepend: site.baseurl }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="512x512"
            href="{{ '/images/favicons/android-chrome-512x512.png' | prepend: site.baseurl }}"
    />


    <!-- CSS Style -->
    <link type="text/css" rel="stylesheet" href="{{ site.baesurl }}/assets/stylesheets/application.css">
    {% include google_analytics.html %}

    <!-- Meta Tags for Responsive Design -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <!-- Open Graph and Twitter meta tags -->
    <meta property="og:title" content="Ruby Conf Africa 2024"/>
    <meta
            property="og:description"
            content="Join us on the 26th to 27th July 2024, as leading Ruby developers from around the world come together in Nairobi, Kenya, to share, inspire, and learn."
    />
    <meta property="og:image" content="{{ '/images/logo/arc_logo_coloured.png' | prepend: site.baseurl }}"/>
    <meta property="og:url" content="https://rubyconf.africa/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Ruby Conf Africa 2024"/>

    <!-- Twitter OG tags -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta
            name="twitter:title"
            content="Ruby Conf Africa 2024: Connect, Learn, & Grow with Ruby"
    />
    <meta
            name="twitter:description"
            content="Join leading Ruby developers in Nairobi, Kenya on July 26-27, 2024 for Ruby Conf Africa. Share knowledge, gain inspiration, and network within the vibrant Ruby community."
    />
    <meta name="twitter:image" content="{{ '/images/logo/arc_logo_coloured.png' | prepend: site.baseurl }}"/>

    <!-- JSON-LD -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Event",
            "name": "Ruby Conf Africa 2024",
            "description": "Join us on July 26-27, 2024, for Ruby Conference Africa in Nairobi, Kenya. Connect with leading Ruby developers, learn from insightful sessions, and explore the latest trends in Ruby development.",
            "image": "https://rubyconf.africa/images/logo/arc_logo_coloured.png",
            "startDate": "2024-07-26T09:00",
            "endDate": "2024-07-27",
            "eventStatus": "https://schema.org/EventScheduled",
            "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
            "location": {
                "@type": "Place",
                "name": "Argyle Grand Hotel",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "",
                    "addressLocality": "Nairobi",
                    "postalCode": "JWW4+R5W",
                    "addressCountry": "KE"
                }
            }
        }
    </script>
</head>
