<!-- Main Header-->
<header class="main-header">
    <div class="main-box">
        <div class="auto-container clearfix">
            <div class="logo-box">
                <div class="logo">
                    <a href="index.html"
                    ><img
                            src="{{'/images/logo/arclogo.png' | prepend: site.baseurl}}"
                            alt="Africa Ruby Community - Building a vibrant Ruby community in Africa"
                            title=""
                    /></a>
                </div>
            </div>
            <div class="auto-container clearfix">
                <!-- <div class="logo-box">
                <div class="logo">
                    <a href="index.html"
                        ><img src="images/logo.png" alt="" title=""
                    /></a>
                </div>
            </div> -->

                <!--Nav Box-->
                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <span class="icon flaticon-menu"></span>
                    </div>
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button
                                    class="navbar-toggler"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation"
                            >
                                <span class="icon flaticon-menu-button"></span>
                            </button>
                        </div>

                        <div
                                class="collapse navbar-collapse clearfix"
                                id="navbarSupportedContent"
                        >
                            <ul class="navigation clearfix">
                                <li class="current"><a href="index.html">Home</a></li>
                                <li {% if page.url=="/schedule" %}class="current" {%endif%}>
                                <a href="/schedule">Schedule</a>
                            </li>
                                <li><a href="about-us.html">About</a></li>
                                <li class="dropdown"><a href="speakers.html">Speakers</a>
                                    {% comment %}<ul>
                                        <li><a href="speakers.html">Speakers</a></li>
                                        <li><a
                                                href="https://www.papercall.io/rubyconfafrica2024"
                                                target="_blank"
                                        >CFP</a
                                        ></li>
                                    </ul>{% endcomment %}
                                </li>
                                {% comment %}<li><a href="tickets.html">Tickets</a></li>{% endcomment %}
                                <li class="dropdown">
                                    <a href="practicalities.html">Essentials</a>
                                    <ul>
                                        <li>
                                            <a href="code-of-conduct.html">Code of Conduct</a>
                                        </li>
                                        <li>
                                            <a href="practicalities.html">Attendee Guide</a>
                                        </li>
                                        {% comment %}<li>
                                            <a href="schedule.html">Schedule</a>
                                        </li>{% endcomment %}
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <!-- Outer box -->
                    <div class="outer-box">
                        <div class="btn-box">
                            <a
                                    href="tickets.html"
                                    target="_blank"
                                    class="theme-btn btn-style-one"
                            >
                                <span class="btn-title">Get Tickets</span></a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn">
            <span class="icon flaticon-cancel-1"></span>
        </div>

        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <nav class="menu-box">
            <div class="nav-logo">
                <a href="index.html"
                ><img src="{{'/images/logo/arc_logo_coloured.png' | prepend: site.baseurl}}" alt="Africa Ruby
            Community Logo - Building a vibrant Ruby community in Africa"
                      title=""></a
                >
            </div>

            <ul class="navigation clearfix">
                <!--Keep This Empty / Menu will come through Javascript-->
            </ul>
        </nav>
    </div>
    <!-- End Mobile Menu -->
</header>