<script src="./assets/js/jquery.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/bootstrapV5.min.js"></script>
<script src="./assets/js/jquery-ui.js"></script>
<script src="./assets/js/jquery.fancybox.js"></script>
<script src="./assets/js/appear.js"></script>
<script src="./assets/js/owl.js"></script>
<script src="./assets/js/wow.js"></script>
<script src="./assets/js/script.js"></script>
<!-- Color Setting -->
<script src="./assets/js/color-settings.js"></script>
<script src="./assets/js/lazysizes.min.js" async=""></script>