<!-- Mobile Menu  -->
<div class="mobile-menu">
	<div class="menu-backdrop"></div>
	<div class="close-btn">
		<span class="icon flaticon-cancel-1"></span>
	</div>

	<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
	<nav class="menu-box">
		<div class="nav-logo">
			<a href="index.html"
			><img
					src="images/logo/arc_logo_coloured.png"
					alt="Africa Ruby Community Logo"
					title=""
			/></a>
		</div>

		<ul class="navigation clearfix">
			<!--Keep This Empty / Menu will come through Javascript-->
		</ul>
	</nav>
</div>
<!-- End Mobile Menu -->