<div class="btn-align">
    <div
            class="banner-text d-inline-block text-bg-danger text-center py-3 px-4"
    >
        <div class="container">
            <h6 class="display-6">
                <i class="fa-solid fa-heart"></i>
                <span class="fs-md-5">Thank you for joining us!</span>
            </h6>
        </div>
    </div>
</div>