---
layout: archive/application
permalink: /2016/speakers
title: "Speakers for Ruby Conf Africa 2016"
description: "Meet the incredible lineup of Ruby experts sharing their knowledge at Ruby Conf Africa 2016.  Browse speaker profiles, session topics, and more."
image: "/images/logo/arc_logo_coloured.png"
year: "2016"
---

<!-- Preloader -->
<div class="preloader-new">
  <div class="preloader-logo-new"></div>
  <div class="loader-new"></div>
</div>

<section class="speakers-section-two" style="margin-top: 0">
  <div class="auto-container">
    <div class="sec-title text-center my-4">
      <span class="display-4 text-danger font-weight-bold">Speakers for {{ page.year }}</span>
    </div>

    {% assign year_data = site.data.archive[page.year] %}

    <div class="row top-pd-mobile">
      {% assign keynote_speakers = year_data.speakers | where: "is_keynote", true %}
      {% for speaker in keynote_speakers %}
        {% include archive/components/speaker_block.liquid speaker=speaker designation="Keynote Speaker" year=page.year %}
      {% endfor %}

      {% assign female_speakers = year_data.speakers | where: "gender", "female" | where: "is_keynote", false %}
      {% for speaker in female_speakers %}
        {% include archive/components/speaker_block.liquid speaker=speaker designation="Speaker" year=page.year %}
      {% endfor %}
    </div>

    <div class="row top-pd-mobile">
      {% assign male_speakers = year_data.speakers | where: "gender", "male" | where: "is_keynote", false %}
      {% for speaker in male_speakers %}
        {% include archive/components/speaker_block.liquid speaker=speaker designation="Speaker" year=page.year %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Speakers Section -->
