<!DOCTYPE html>
<html lang="en">
{% include head.liquid %}
<body class="cms-index-index cms-home-page">
<div id="page">
    <!-- Header and Navigation-->
    {% include mini_conf_home_navigation.liquid %}

    <!-- Content -->
    {{ content }}

    <!-- Footer -->
    {% include archive_footer.liquid %}
</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

{% include js.liquid %}
<!--<script src="{{ site.basesurl }}/assets/javascripts/application.js"></script>-->
</body>
</html>
