<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="cms-index-index cms-home-page">
<div id="page">
    <!-- Header and Navigation-->
    {% include home_navigation.html %}

    <!-- Content -->
    {{ content }}

    <!-- Footer -->
    {% include footer.html %}
</div>

<!--Mobile menu-->
{% include mobile_menu.html %}

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

{% include js.html %}
<!--<script src="{{ site.basesurl }}/assets/javascripts/application.js"></script>-->
</body>
</html>
