<!DOCTYPE html>
<html lang="en">
{% include head.liquid %}
<body>
<div class="page-wrapper">
    <!-- Header and Navigation-->
    {% include navigation.liquid %}

    <!-- Content -->
    <div class="content-wrapper">
        {{ content }}
    </div>

    <!-- Footer -->
    {% include footer.liquid %}
</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>
{% include js.liquid %}
<!--<script src="{{ site.basesurl }}/assets/javascripts/application.js"></script>-->
</body>
</html>
