---
layout: application_speaker
---

<!-- Speaker Detail -->
<section class="speaker-detail">
    <div class="auto-container">
        <div class="row">
            <div class="image-column col-lg-4 col-md-12 col-sm-12">
                <div class="image-box">
                    <figure class="image">
                        <img src="{{ page.image }}" alt=" page.name "/>
                    </figure>
                    <ul class="social-icon-two social-icon-colored text-center">
                        {% if page.twitter and page.twitter != "" %}
                        <li>
                            <a href="//{{ page.twitter }}" target="_blank"
                            ><i class="fab fa-twitter"></i
                            ></a>
                        </li>
                        {% endif %}
                        {% if page.linkedin and page.linkedin != "" %}
                        <li>
                            <a href="//{{page.linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                        </li>
                        {% endif %}
                        {% if page.website and page.website != "" %}
                        <li>
                            <a href="//{{page.website}}" target="_blank"
                            ><i class="fab fa-sistrix"></i
                            ></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="info-column col-lg-8 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="text-box">
                        <h3>{{ page.name }}</h3>
                        <h4 class="text-danger">{{ page.bio }}</h4>
                        <p>
                            {{ page.details }}
                        </p>
                        <h4>Talks by {{ page.name }}</h4>
                        <p>TBA</p>
<!--                        <div class="row">-->
<!--                            <div class="col-lg-4">-->
<!--                                <div class="speaker-session-info">-->
<!--                                    <h5>Day 1</h5>-->
<!--                                    <span> 10.30 - 11.30 am </span>-->
<!--                                    <p>Session 1</p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-4">-->
<!--                                <div class="speaker-session-info">-->
<!--                                    <h5>Day 2</h5>-->
<!--                                    <span> 12.30 - 11.30 am </span>-->
<!--                                    <p>Session 2</p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <p></p>-->

<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Speaker Detail -->
