---
layout: application_speaker
---

<!-- Speaker Detail -->
<section class="speaker-detail">
    <div class="auto-container">
        <div class="row">
            <div class="image-column col-lg-4 col-md-12 col-sm-12">
                <div class="image-box">
                    <figure class="image">
                        <img src="{{ page.image }}" alt=" page.name "/>
                    </figure>
                    <ul class="social-icon-two social-icon-colored text-center">
                        {% if page.twitter and page.twitter != "" %}
                        <li>
                            <a href="{{ page.twitter }}" target="_blank"
                            ><i class="fa-brands fa-x-twitter"></i
                            ></a>
                        </li>
                        {% endif %}
                        {% if page.linkedin and page.linkedin != "" %}
                        <li>
                            <a href="{{page.linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                        </li>
                        {% endif %}
                        {% if page.website and page.website != "" %}
                        <li>
                            <a href="{{page.website}}" target="_blank"
                            ><i class="fab fa-sistrix"></i
                            ></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="info-column col-lg-8 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="text-box">
                        <h3>{{ page.name }}</h3>
                        <h4 class="text-danger">{{ page.bio }}</h4>
                        <p>
                            {{ page.details }}
                        </p>
                        <h4>Talks by {{ page.name }}</h4>
                        <div class="row">
                            {% for session in page.sessions %}
                                <div class="col-lg-4">
                                    <div class="speaker-session-info">
                                        <h5>Day {{ session.day }}</h5>
                                        <span>{{ session.time }}</span>
                                        <p>{{ session.title }}</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="text">
                            {{ page.talk_description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Speaker Detail -->
